html{
	width: 100%;
	margin-left: -8px;
	margin-top: -8px;
	font-family: Arial, sans-serif;
	height: 99%;
}

body{
	width: 100%;
	min-width: 1000px;
	height: 99%;
}

#menu{
	/*background-color: #454548;*/
	background-color: #4E9231;
	height: 50px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	text-align: center;
	line-height: 50px;
	color: white;
	font-size: 1.5em;
	z-index: 1;
}

#barre_v{
	float: left;
	margin-top: -50px;
	background-color: #454548;
	width: 45px;
	margin-left: -5px;
	z-index: 10;
	height: 100%;
	position: fixed;
}
#barre_v p{
	padding: 10px;
	margin: auto;
	text-align: center;
}


#barre_v p:hover{
	background-color: black;
}
.active{
	background-color: black;
}

#vmap{
	margin: auto;
}

/* ---- grid ---- */
.grid {
    max-width: 100%;
    margin-left: 95px;
}
/* clearfix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}
/* ---- grid-item ---- */
.grid-sizer,
.grid-item {
    min-width: 360px;
}

.grid-item {
    height: auto;
    float: left;
    min-height: 200px;
    padding: 10px;
    margin: 10px 60px 40px 10px;
    border-top: 5px solid #4E9231;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.title_section{
	line-height: 24px;
	margin-left: 100px;
}

/* Table */
table{
	width: 100%;
	border-spacing: 0;
	padding: 5px;
}

table thead {
	background-color: #454548;
	color: white;
	font-weight: bold;
	text-align: center;
}

tr{
	border-bottom: 1px solid #454548;
	text-align: center;
}

td{
	border-bottom: 1px solid #454548;
}